@charset "UTF-8";


.container {
	margin:auto;
	width: 100px;
	}

/* Formatação scrollbar */
::-webkit-scrollbar {
	width: 10px;
	background-color: #000000;
	}

/* Index.html  */
	/* Formatação Cabeçalho */
		header#topo {
			width: 100%;
			height: 100px;
			background-color: #F3ECE6
			}

		header#topo img#icone {
			position: absolute;
			width: 100px;
			left:50px;
			top: 8px;
			}

	/* Formatação estilo - nav - menu */  
		nav#menu ul {
			list-style: none; 
			text-transform: uppercase;
			position: absolute;
			top: 10px;
			left: 500px;
			}

		nav#menu li{
			display: inline-block;
			padding: 10px;
			margin:4px;
			transition: background-color 1s;
			}

		nav#menu li:hover {
			background-color:white;
			} 

		nav#menu a{
			color:#070707;
			text-decoration:none;
			font-family:cursive;
				}

		nav#menu a:hover{
			color:#9e0a0a;
			text-decoration:underline;
			}


	/* Formatação Estilo - Aside - Espaço esquerdo da página */
		aside#esquerda {
			width: 10%;
			height:740px;
			float:left;
			background-color: rgb(202, 113, 23);
	}

	/* Formatação Estilo - Section -  Espaço centro da página */

		section#centro {
		    width:80%;
		    height:740px;
		    padding: 0%;
		    background-color: rgb(222, 121, 31); 
		   	float: left;
		    }

		video{
			position: relative;
			width:1310px;
			left:0px;
			padding: 0px;
			}

		img{
			position: relative;
			float: right;
			padding: 0px
			}

	/* Formatação Estilo - Aside -  Espaço direito da página */

		aside#direita {
			width: 10%;
			height:740px;
			float: right;
			background-color: rgb(202, 113, 23);
			}

	/* Formatação Estilo - Footer - Rodapé */		

		footer#rodape {
		   width: 100%;
		   height: 100px;
		   background-color: #F3ECE6;
		   float: left;
		    }

		footer#rodape h1 {
			color: #9e0a0a;
			text-align: center;
			padding: 10px;
			}

/* historico.html
			
	/* Formatação Estilo - Section - Histórico */

		section#historico {
			width:100%;
			height: 1000px;
			background-color:#F3ECE6;
			}

		section#historico img#foto_hist {
			position: relative;
			width: 90%;
			left: 100px;	
			float: left;
			}


		section#historico aside {
			width: 11%;
			height: 100px;
			background-color:#F3ECE6;
			float: left;
		}

		section#historico aside img#foto_cafe {
			position: relative;
			width: 80%;	
			left: 120px;
			float: left;
			padding: 20px;	
			}

		section#historico div {		
			width: 60%;
			height: 100px;
			background-color:#F3ECE6;
			float: left;
			text-align: left;
			font-size: 15pt;
			color: #8f1c1c;
			font-family:cursive;
			padding: 10px 0px 10px 150px;				
			}
	

			
			
/* produto.html
			
	/* Formatação Estilo - Produtos -  */

	section#produtos {
		width:100%;
		height: 2000px;
		background-color:#F3ECE6;				
		}

	section#produtos h2{
		font-size: 20pt;
		width:100%;
		height:30px;
		margin: 1px;
		background-color:rgb(222, 121, 31); 	
		padding: 10px 0px 10px 0px ;
		text-align: center;
	}

	article p{
		font-size: 20pt;
		width: 70%;
		text-align: left;
		font-family:cursive;
	}

	article#formato1 {
		padding: 5px 0px 0px 600px;
	}	

	article#formato2 {
		padding: 5px 0px 0px 600px;
	}	

		
	section#produtos img#foto_f1 {
		position: absolute;
		float: left;
		padding: 80px 0px 0px 120px;
	}
	

	

	

			
			
			
		
				
